<div class="img-modal">
    <div class="btn btn-mdi-close modal-close close-img-modal"></div>
    <ul class="list-img">
        <li><img src="../img/products/1139624013_001.jpg" alt=""></li>
        <li><img src="../img/products/1139624013_002.jpg" alt=""></li>
        <li><img src="../img/products/1139624013_003.jpg" alt=""></li>
        <li><img src="../img/products/1139624013_004.jpg" alt=""></li>
        <li><img src="../img/products/1139624013_005.jpg" alt=""></li>
        <li><img src="../img/products/1139624013_006.jpg" alt=""></li>
        <li><img src="../img/products/1139624013_007.jpg" alt=""></li>
        <li><img src="../img/products/1139624013_008.jpg" alt=""></li>
    </ul>
</div>