{% extends "./layout/_layout.html" %}

{% block body %}
<div class="scan">
    <div class="scan__desc">
        <div class="scan__desc-inner">
            <p class="bold is-ready">棚札に携帯電話を近づけてください</p>
            <p class="bold is-done">スキャンが完了しました！</p>
        </div>
    </div>
    <div class="scan__main" id="changeStatus">
        <div class="scan__img-top">
            <span class="is-ready"><img src="/img/scan-top-ready.svg" alt=""></span>
            <span class="is-done"><img src="/img/scan-top-done.svg" alt=""></span>
        </div>
        <div class="scan__img-bottom">
            <span class="is-ready"><img src="/img/scan-bottom-ready.svg" alt=""></span>
            <span class="is-done"><img src="/img/scan-bottom-done.svg" alt=""></span>
        </div>
        <p class="scan__img-text">プライスタッチ</p>
    </div>
    <a class="btn btn-cancel scan__cancel" href="#">キャンセル</a>
</div>
{% endblock %}