{% extends "../layout/_index.html" %}

{% block body %}
<main class="main">
    <section class="section">
        <h1 class="page-title">コンテンツの大見出し</h1>

        <div class="feature-content">
            <h2 class="feature-content-title">コンテンツタイトルなど</h2>
            <div class="feature-content-body">
                <img src="/img/_dummy.jpg" alt="ダミーイメージ">
            </div>
        </div>

        <div class="feature-content">
            <h2 class="feature-content-title">コンテンツタイトルなど</h2>
            <div class="feature-content-body">
                <img src="/img/_dummy.jpg" alt="ダミーイメージ">
            </div>
        </div>
    </section>
</main>

{% endblock %}