{% extends "../layout/_index.html" %}

{% block body %}

<main class="main">
    <h1 class="page-title">商品スペック</h1>
    <section class="section">
        <div class="product-name">
            <div class="product-name__img open-img-modal">
                <img src="../img/products/1139624013_001.jpg" alt="">
                <p>8枚の写真あり</p>
            </div>
            <div class="product-name__text">プリンター　エプソン　本体　インク　A3ノビ対応 インクジェットプリンター SC-PX7V2 プリンター</div>
        </div>
    </section>
    <section class="section">
        <p>エプソン SC-PX7V2 A3ノビ対応 インクジェットプリンター 「Proselection」<br>発売日：2015年10月08日</p>
        <ul class="list list-product-detail">
            <li>
                ブルー・オレンジ・光沢インクが生み出す艶やかな発色<br>
                ブルーインク・オレンジインク・光沢顔料グロスオプティマイザ搭載で<br>
                発色と光沢にこだわった高い作品品質の写真プリントを実現します。
            </li>
            <li>
                再現性・保存性に優れたエプソンのプリント・コアテクノロジー<br>
                美しいままで長期間保存でき、色安定性に優れたエプソンの顔料インクと、<br>
                インクをコントロールする独自の技術が、高画質プリントを支えます。
            </li>
            <li>
                A3ノビ対応作風で選べる豊富な紙質<br>
                迫力ある作品の仕上がりに欠かせない大判プリント。<br>
                L判からA3ノビまで選べる印刷サイズと豊富な紙質で作品づくりの幅が広がります。
            </li>
        </ul>
    </section>
    <section class="section">
        <table class="table table-product">
            <tr>
                <th>本体サイズ</th>
                <td>【収納時】<br>622×324×219（mm）（幅×奥行×高さ）</td>
            </tr>
            <tr>
                <th>本体重量</th>
                <td>約12.3kg※他同梱物含まず</td>
            </tr>
            <tr>
                <th>消費電力</th>
                <td>【消費電力】約20Ｗ</td>
            </tr>
            <tr>
                <th>付属品</th>
                <td>セットアップ用インクカートリッジ8色（フォトブラック、マットブラック、シアン、マゼンタ、イエロー、ブルー、レッド、オレンジ、グロスオプティマイザ、各1個）、取扱説明書、EPSONソフトウェアディスク、ロール紙ホルダー、 Blu-ray?/DVD/CDトレイ、8cm Blu-ray?/DVD/CD用アタッチメント、ディスク印刷位置確認用シート(紙製)、リア手差し用紙ガイド、電源ケーブル、保証書</td>
            </tr>
            <tr>
                <th>解像度</th>
                <td>最高：5760×1440dpi</td>
            </tr>
            <tr>
                <th>カラー印刷速度(枚/分)</th>
                <td>約2分30秒(A3ノビ写真用紙＜光沢＞) (注)SC-PX7VIIはマットブラックインクセット時</td>
            </tr>
            <tr>
                <th>用紙サイズ</th>
                <td>■単票紙：L判、2L判、KG、ハイビジョン、六切、四切、A6縦～A3縦　■封筒：洋形封筒1号～4号、長形封筒3号/4号　■専用ロール紙：A4(210mm)/A3ノビ(329mm)幅　■ハガキ：郵便ハガキ、 郵便ハガキ（インクジェット紙）、郵便ハガキ（光沢インクジェット紙）、純正ハガキ、郵便往復ハガキ（※日本郵便株式会社製）(注)必要マージンにご注意ください。　■手差しスロット：Blu-ray/DVD/CD印刷トレイ(フロントローディング方式)</td>
            </tr>
            <tr>
                <th>インターフェイス</th>
                <td>Hi-Speed USB×1、10BASE-T/100BASE-TX、IEEE802.11b/g/n</td>
            </tr>
            <tr>
                <th>対応OS</th>
                <td>【プリンタードライバー対応OS】■Windows（※1）：10、8.1、8、7、Vista、XP（XP 32bitはSP1以降の対応となります）　■Mac（※2）：Mac OS X 10.5.8～、10.4.11～　※1：32・64bit対応。　※2：Mac OS X 対応のプリンタードライバーには、機能上の制限があります。詳しくはメーカーサイトにてご確認ください。また、Mac OS Xのクラシック環境では動作いたしません。</td>
            </tr>
            <tr>
                <th>CD-R/DVDプリント機能</th>
                <td>Blu-Ray/DVD/CDレーベルへのプリントが可能(フロントローディング方式)</td>
            </tr>
            <tr>
                <th>縁無し印刷</th>
                <td>有り</td>
            </tr>
        </table>
    </section>
</main>

{% include "../component/_img-modal.html" %}
{% endblock %}