{% extends "../layout/_index.html" %}

{% block body %}

<main class="main">
    <section class="section">
        <h1 class="page-title">お気に入り商品</h1>
        <ul class="list-card-column">
            <li class="card card-favorit">
                <div class="product-name">
                    <div class="product-name__img">
                        <img src="../img/products/1139624013_001.jpg" alt="">
                    </div>
                    <div class="product-name__text btn-link-wrap">
                        <p>プリンター　エプソン　本体　インク　A3ノビ対応 インクジェットプリンター SC-PX7V2 プリンター</p>
                        <div class="btn btn-link btn-remove">削除</div>
                    </div>
                </div>
            </li>
            <li class="card card-favorit">
                <div class="product-name">
                    <div class="product-name__img">
                        <img src="../img/products/1139624013_001.jpg" alt="">
                    </div>
                    <div class="product-name__text btn-link-wrap">
                        <p>プリンター　エプソン　本体　インク　A3ノビ対応 インクジェットプリンター SC-PX7V2 プリンター</p>
                        <div class="btn btn-link btn-remove">削除</div>
                    </div>
                </div>
            </li>
            <li class="card card-favorit">
                <div class="product-name">
                    <div class="product-name__img">
                        <img src="../img/products/1139624013_001.jpg" alt="">
                    </div>
                    <div class="product-name__text btn-link-wrap">
                        <p>プリンター　エプソン　本体　インク　A3ノビ対応 インクジェットプリンター SC-PX7V2 プリンター</p>
                        <div class="btn btn-link btn-remove">削除</div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</main>

{% endblock %}