{% extends "../layout/_index.html" %}

{% block body %}

<main class="main">
    <section class="section">
        <h1 class="page-title">お気に入り商品</h1>
        <ul class="list-card-column">
            <!-- ↓↓お気に入りが空の場合↓↓ -->
            <!-- <li class="card card-favorit card-favorit--empty">
                <p class="bold">店頭でプライスタッチをご利用ください</p>
            </li> -->
            <li class="card card-favorit">
                <a href="../product">
                    <div class="product-name">
                        <div class="product-name__img">
                            <img src="../img/products/1139624013_001.jpg" alt="">
                        </div>
                        <div class="product-name__text">
                            <p>プリンター　エプソン　本体　インク　A3ノビ対応 インクジェットプリンター SC-PX7V2 プリンター</p>
                        </div>
                    </div>
                </a>
                <div class="btn btn-link btn-remove">削除</div>
            </li>
            <li class="card card-favorit">
                <a href="../product">
                    <div class="product-name">
                        <div class="product-name__img">
                            <img src="../img/products/1139624013_001.jpg" alt="">
                        </div>
                        <div class="product-name__text">
                            <p>プリンター　エプソン　本体　インク　A3ノビ対応 インクジェットプリンター SC-PX7V2 プリンター</p>
                        </div>
                    </div>
                </a>
                <div class="btn btn-link btn-remove">削除</div>
            </li>
            <li class="card card-favorit">
                <a href="../product">
                    <div class="product-name">
                        <div class="product-name__img">
                            <img src="../img/products/1139624013_001.jpg" alt="">
                        </div>
                        <div class="product-name__text">
                            <p>プリンター　エプソン　本体　インク　A3ノビ対応 インクジェットプリンター SC-PX7V2 プリンター</p>
                        </div>
                    </div>
                </a>
                <div class="btn btn-link btn-remove">削除</div>
            </li>
        </ul>
    </section>
</main>

<script>
    window.onload = function() {
        // toastの表示・非表示
        const addClass = function() {
            document.getElementById("toast").classList.add("is-show");
        }
        const removeClass = function() {
            document.getElementById("toast").classList.remove("is-show");
        }
        setTimeout(addClass, 500);
        setTimeout(removeClass, 2500);
    }
</script>
{% endblock %}