{% extends "../layout/_index.html" %}

{% block body %}

<main class="main">
    <section class="section">
        <div class="product-name">
            <div class="product-name__img open-img-modal">
                <img src="../img/products/1139624013_001.jpg" alt="">
                <p>8枚の写真あり</p>
            </div>
            <div class="product-name__text">プリンター　エプソン　本体　インク　A3ノビ対応 インクジェットプリンター SC-PX7V2 プリンター</div>
        </div>
    </section>
    <section class="section">
        <h1 class="page-title">商品のクチコミ</h1>
        <div class="review-total">
            <div class="score">
                <ul class="review-stars review-stars--total">
                    <li class="star fill"></li>
                    <li class="star fill"></li>
                    <li class="star fill"></li>
                    <li class="star fill"></li>
                    <li class="star line"></li>
                </ul>
                <div class="num"><span class="score-num">92.5</span>/100</div>
            </div>
            <div><p>735件のクチコミ</p></div>
        </div>
        <ul class="list-card-column">
            <li class="card card-review card-review--column">
                <div class="card-review__head">
                    <ul class="review-stars">
                        <li class="star fill"></li>
                        <li class="star fill"></li>
                        <li class="star fill"></li>
                        <li class="star fill"></li>
                        <li class="star line"></li>
                    </ul>
                    <div class="card-review__date">2020/12/10に投稿</div>
                </div>
                <div class="card-review__desc"><span class="bold">2020/11/10</span>に <span class="bold">57歳男性</span> が <span class="bold">T札幌厚別店</span>で購入</div>
                <div class="card-review__comment">プリンターとは思えない格安な金額。２代目のカジュアルのものとして利用しています。インク買うより安い。</div>
            </li>
            <li class="card card-review card-review--column">
                <div class="card-review__head">
                    <ul class="review-stars">
                        <li class="star fill"></li>
                        <li class="star fill"></li>
                        <li class="star fill"></li>
                        <li class="star fill"></li>
                        <li class="star line"></li>
                    </ul>
                    <div class="card-review__date">2020/12/10に投稿</div>
                </div>
                <div class="card-review__desc"><span class="bold">2020/11/10</span>に <span class="bold">57歳男性</span> が <span class="bold">T札幌厚別店</span>で購入</div>
                <div class="card-review__comment">プリンターとは思えない格安な金額。２代目のカジュアルのものとして利用しています。インク買うより安い。</div>
            </li>
            <li class="card card-review card-review--column">
                <div class="card-review__head">
                    <ul class="review-stars">
                        <li class="star fill"></li>
                        <li class="star fill"></li>
                        <li class="star fill"></li>
                        <li class="star fill"></li>
                        <li class="star line"></li>
                    </ul>
                    <div class="card-review__date">2020/12/10に投稿</div>
                </div>
                <div class="card-review__desc"><span class="bold">2020/11/10</span>に <span class="bold">57歳男性</span> が <span class="bold">T札幌厚別店</span>で購入</div>
                <div class="card-review__comment">プリンターとは思えない格安な金額。２代目のカジュアルのものとして利用しています。インク買うより安い。</div>
            </li>
        </ul>
    </section>
</main>
    
{% endblock %}