/*
variables
---------------*/
$color_black: #000000;
$color_white: #FFFFFF;
$color_blue: #004D9F;
$color_gray: #C4C4C4;
$color_lightgray: #F6F6F6;
$color_red: #D81019;
$color_green: #00C31F;

$max_width: 640px;
$font_family: Roboto , “ヒラギノ角ゴ ProN W3”, Hiragino Kaku Gothic ProN, “メイリオ”, sans-serif;
$font_num: 'M PLUS Rounded 1c', sans-serif;

/*
dark theme
---------------*/
$color_text: #ffffff;
$color_text_black: #000000;
$color_text_blue: #004D9F;
$color_background: #292F3F;