.feature-content {
    border-radius: 8px;
    overflow: hidden;

    img {
        vertical-align: top;
        width: 100%;
    }
}

.feature-content-title {
    padding: 14px;
    background: #212735;
}

.feature-content + .feature-content {
    margin-top: 28px;
}