.list-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    > a{
        &:not(:last-child){
            margin-right: 10px;
        }
    }

    &.grid {
        flex-wrap: wrap;
        margin: -7px;
        justify-content: flex-start;

        a {
            margin: 0;
            margin: 7px;
            width: calc((100% - 56px) / 4);
            min-height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.list-card-row{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: unset;
    margin: 0 -20px;
    .card{
        position: relative;
        margin-left: 20px;
        &:after{
            content: "";
            width: 20px;
            height: 1px;
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
        }
    }
}

.list-card-column{
    display: flex;
    flex-direction: column;
    .card:not(:last-of-type){
        margin-bottom: 20px;
    }
}

.list-product-detail{
    li{
        margin-top: 14px;
        &:before{
            content: "●";
        }
    }
}