.video {
    position: relative;

    &::before {
        content: '';
        display: block;
        padding-top: 56%;
    }

    iframe,
    video,
    .jstream-eqPlayer {
        position: absolute!important;
        width: 100%!important;
        height: 100%!important;
        top: 0;
        left: 0;
    }
}

.video-title {
    padding: 14px;
    background: #212735;
}